<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.front" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusinessCarApp"
        tools:targetApi="31">
        <activity
            android:name=".activity.FriendDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddCardPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddArticleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NoticeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PasswordResetActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Galleryactivity"
            android:exported="true" />
        <activity
            android:name=".adapters.CardStackAdapter"
            android:exported="true" />
        <activity
            android:name=".CardStackCallback"
            android:exported="true" />
        <activity
            android:name=".models.ItemModel"
            android:exported="true" />
        <activity
            android:name=".activity.IdcardFormStateActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FriendDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IDCardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CloudVisionAPIActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".activity.LoginActivity" -->
        <!-- android:exported="true"> -->
        <!-- </activity> -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>